body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
}

ul li {
    list-style-type: none;
}




.content {
    height: 100%;
}

.header {
    background: #FFF;
    height: 40px;
}

.header-left {
    width: 14%;
    height: 40px;
    background: #32323A;
    color: #FFF;
}

.left-div {
    position: fixed;
    float: left;
    width: 15%;
    height: 100%;
    background: #32323A;
}

.body {
    margin-top: 11px;
}
button{
    border:none;
}
.menu {
    display: block;
    width: 100%;
    height: 40px;
    padding-left: 20%;
    line-height: 40px;
    font-size: 12px;
    color: #FFFFFF;
    border-bottom-color: #3C3C44;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.menu span {
    padding-right: 15px;
    font-size: 10px;
}

.menu:hover {
    background: #29282E;
    color: #58D094;
    text-decoration: none;

}

a:visited {
    color: white;
}

.menu a:link {
    color: black;
}

.menu a:hover {
    color: #58D094;
    background: #29282E;
    text-decoration: none;
}


a {
    text-decoration: none;
    color: white;
}
.right-div {
    width: 84%;
    float: right;
}